{% extends "layouts/base.html" %}
{% block title %}Reset Password{% endblock title %}


{% block content %}
  <div class="content-section">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      
      <fieldset class="form-group">
        <legend class="border-bottom-purple mb-3 pb-1">Reset Your Password</legend>
        
        <div class="form-group mb-3">
          {{ form.password.label(class="form-control-label mb-1") }}
          
          {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          
          {% else %}
            {{ form.password(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        
        <div class="form-group mb-3">
          {{ form.confirm_password.label(class="form-control-label mb-1") }}
          
          {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          
          {% else %}
            {{ form.confirm_password(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        
        <div class="row form-group border-bottom-purple my-2 pb-2 align-items-center">
          {{ form.submit(class="col-12 btn btn-primary") }}
        </div>
      </fieldset>
    </form>
    
    <div class="small text-muted">
      Don't Have An Account? <a href="{{ url_for('users.register') }}" class="ms-2">Sign Up</a>
    </div>
  </div>
{% endblock content %}